p.plonetruegallery {
	margin: 0;
	padding: 7px 0;
}

p.plonetruegallery a {
	outline: none;	
	margin-right: 20px;
}

p.plonetruegallery a img {
	border: 1px solid #CCC;
	padding: 2px;	
	margin: 10px 5px 10px 0;
}

#subgallery-browse-wrapper{
    margin-top:10px;
}

#subgallery-search{
    background-color: #A8A8A8;
    padding: 10px;
}

#subgallery-search span{
    font-weight: bold;
}

#subgallery-search form{
    display:inline;
}

#subgallery-search input, #subgallery-search button{
    color: black;
}

#subgallery-galleries {
    overflow: auto;
}

  .subgallery-subgallery {
    display:inline-block;
    vertical-align: top;
      width: 100%;
    }


@media (min-width:720px){
  .subgallery-subgallery {
    display:inline-block;
    vertical-align: top;
      width: 49%;
      padding: 0.5em 0.5em 0 0;
    }
}

@media (min-width:1200px){
    .subgallery-subgallery  {
    display:inline-block;
    vertical-align: top;
      width: 33%;
      padding: 0.5em 0.5em 0 0;
    }
}
@media (min-width:1900px){
    .subgallery-subgallery  {
    display:inline-block;
    vertical-align: top;
      width: 24%;
      padding: 0.5em 0.5em 0 0;
    }
}

.gallery-content-row {
   overflow: auto;
}

.gallery-content-image-box {
   float:left;
   padding: 0.5em 1em 0 0;
}

.gallery-content-desc {
    vertical-align:top;
}

div.spacer {
    clear: both;
    font-size: 1px;
    line-height: 1px;
}

.template-galleryview .contentActions {
	z-index: 12;
}